
h1 {
	font-family: monospace;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

body {
  text-align: left;
  margin: 60px auto;
  font-family: monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  height:2000px;
}
